@font-face {
    font-family: 'kanit';
    src: url('../Kanit/Kanit-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'kanit';
} 

/* Menu */
.header {
    display: flex;
    background-color: #5ED8FF;
    height: 60px;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    padding: 15px;
    list-style-type: none;
    margin-right: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* contrain */
.contrain {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Body register */
.section .contrain {
    display: flex;
    margin-top: 55px;
    margin-bottom: 25px;
    justify-content: center;
}

.box-register {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 728px;
}

.register {
    border-radius: 0px 20px 20px 0px;
    width: 650px;
}

.header-register {
    margin-top: 50px;
    margin-bottom: 15px;
}

.header-register {
    text-align: center;
}

.header-register label {
    font-size: 48px;
    font-weight: bold;
}

.input-information {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,300px);
}

.input-data {
    margin-left: 39px;
}

#text-username, #text-firstpassword, #text-secondpassword, 
#text-email, #text-firstname, #text-lastname, 
#text-gender, #text-birthday, #text-number-card,
#text-phone {
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}

#response-username, #response-firstpassword, #response-secondpassword, 
#response-email, #response-firstname, #response-lastname, 
#response-gender, #response-birthday, #response-number-card,
#response-phone {
    display: grid;
    font-size: 12px;
    justify-content: right;
    width: 215px;
}

input {
    width: 190px;
    height: 30px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* arrow in input type number is none */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

#gender {
    width: 220px;
    height: 32px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Message */
.message {
    display: none;
    margin-top: 30px;
    margin-left: 80px;
    padding-left: 45px;
    width: 450px;
}

/* Button submit and cancel */
.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2,110px);
    margin-left: 10px;
}

#submit-login {
    border: 1px solid rgb(138, 138, 138);
    background-color: #007bff;
    border-radius: 25px;
    color: #ffffff;
    width: 100px;
    height: 30px;
}

#cancel-login {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100px;
    height: 30px;
}