@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'kanit';
} 

.contrain {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    background-color: rgb(195, 195, 195);
}

.menu {
    display: flex;
    float: right;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    margin-right: 5px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2,512px);
}

.form div {
    margin-bottom: 5px;
}

.form label {
    padding-right: 20px;
}

.gender-value {
    display: flex;
}

.shirt-types {
    display: flex;
}

.shirt-size-values {
    display: flex;
}

.type-run-option {
    display: grid;
    grid-template-columns: repeat(2,256px);
}

.box-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button {
    width: 256px;
    height: 30px;
}

.submit {
    margin-left: 10px;
}