/* All register page */
@font-face {
    font-family: 'kanit';
    src: url('../Kanit/Kanit-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'kanit';
} 

/* Size contrain */
.contrain {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Menu */
.header {
    display: flex;
    background-color: #5ED8FF;
    height: 60px;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    padding: 15px;
    list-style-type: none;
    margin-right: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Header form */
h2 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.header-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Form */
.form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,300px);
}

.form div {
    /* move content in grid (15px) */
    margin-left: 15px;
}

.form select {
    /* move content in grid (15px) */
    margin-left: 15px;
}

.form label {
    padding-right: 20px;
}

/* box input */
input {
    border: 1px solid #8f8f8f;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin space between label top and bottom */
    margin-top: 15px;
    margin-bottom: 15px;
}

/* box select */
select {
    border: 1px solid #8f8f8f;
    border-radius: 20px;
    width: 243px;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin space between label top and bottom */
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Button submit and cancel */
button {
    width: 150px;
    height: 40px;
    border: 1px solid #8f8f8f;
    border-radius: 20px;
}

.box-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.cancel {
    margin-right: 5px;
}

.submit {
    margin-left: 5px;
}

/* Status payment */
.status-payment {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,600px);
}

.header-payment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-payment label {
    font-size: 20px;
    font-weight: bold;
}

.detail-payment {
    display: grid;
    grid-template-columns: repeat(1,600px);
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 40px 0px 40px;
}

.detail {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

/* detail code */
/* for sumited register 
.code {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,600px);
}

.header-code {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail-code {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}*/

/* Footer page */
