@font-face {
    font-family: 'kanit';
    src: url('../Kanit/Kanit-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'kanit';
} 

.contrain {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    background-color: #5ED8FF;

}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    margin-right: 5px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.header-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,300px);
}

.form div {
    /* move content in grid (15px) */
    margin-left: 15px;
}

.form select {
    /* move content in grid (15px) */
    margin-left: 15px;
}

.form label {
    padding-right: 20px;
}

button {
    width: 150px;
    height: 40px;
    border: 1px solid #8f8f8f;
    border-radius: 20px;
}

/* box input */
input {
    border: 1px solid #8f8f8f;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin space between label top and bottom */
    margin-top: 15px;
    margin-bottom: 15px;
}

/* box select */
select {
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    width: 243px;
    height: 40px;
    /* margin space between label top and bottom */
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cancel {
    margin-right: 5px;
}

.submit {
    margin-left: 5px;
}
