/* All register page */
@font-face {
    font-family: 'kanit';
    src: url('../Kanit/Kanit-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'kanit';
} 

/* Size contrain */
.contrain {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Menu */
.header {
    background-color: #5ED8FF;
    height: 60px;
}

.menu {
    display: flex;
}

.menu a:not(.icon,.active){
    text-decoration: none;
    padding: 15px;
    list-style-type: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.icon{
    display: none;
}

.icon-menu {
    mix-blend-mode: multiply;
    width: 40px;
    height: 40px;
}

.menu a:hover {
    background-color: #ffffff;
    color: black;
}

.menu .active{
    background-color: #1cc1fd;
    text-decoration: none;
    padding: 15px;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* Section */
.background-image{
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 300px;
}

.image {
    background-color: rgb(136, 136, 136);
    width: 1024px;
    height: 300px;
}

.my-events {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: auto;
}

.events-box {
    display: grid;
    grid-template-columns: repeat(2,300px);
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 25px;
    width: 250px;
    height: 125px;
}

/* Footer page */
.footer {
    background-color: #5ED8FF;
    margin-top: 50px;
}
.detail-footer {
    display: flex;
}

/* contact */
.background-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 290px;
}

.contact {
    height: 55%;
    width: 70%;
}

.header-contact {
    margin-bottom: 10px;
}

.header-contact label {
    font-size: 20px;
    font-weight: bold;
}

.contact ul {
    padding-left: 20px;
}

/* about */
.background-about-rerun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 290px;
}

.about-rerun {
    height: 55%;
    width: 70%;
}

.header-about {
    margin-bottom: 10px;
}

.header-about label {
    font-size: 20px;
    font-weight: bold;
}

.about-rerun ul {
    padding-left: 20px;
}

/* comment */
.background-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 290px;
}

.header-comment label {
    font-size: 20px;
    font-weight: bold;
}

.header-comment {
    margin-bottom: 10px;
}

.comment {
    height: 55%;
    width: 80%;
}

.emoji-comment {
    display: flex;
    height: 70px;
    margin-bottom: 10px;

}

.image-emoji{
    display: flex;
    mix-blend-mode: multiply;
    justify-content: center;
    align-items: center;
}

.text-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-emoji img {
    width: 40px;
    height: 40px;
}

.sticker-deatil {
    width: 47px;
    height: 50px;
    margin-right: 15px;
}
.box-comment {
    display: flex;
    width: 341px;
    height: 60px;
}

#text-box {
    display: flex;
    align-items: center;
    border: 1px solid rgb(127, 127, 127);
    width: 230px;
    height: 45px;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* responsive tablet */
@media screen and (max-width: 820px) {

    /* set image */
    .image {
        background-color: rgb(136, 136, 136);
        width: 800px;
    }

    /* section */
    .my-events {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
    }

    /* footer */
    .footer .contrain {
        background-color: #5ED8FF;
        max-width: 768px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .detail-footer {
        display: grid;
        grid-template-columns: repeat(1,341px);
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .background-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 341px;
        height: 200px;
    }

    .contact {
        height: 75%;
        width: 70%;
    }

    .background-about-rerun {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 341px;
        height: 200px;
    }

    .about-rerun {
        height: 75%;
        width: 70%;
    }

    .background-comment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 341px;
        height: 200px;
    }

    .comment {
        height: 85%;
        width: 80%;
    }
}

/* responsive mobile */
@media screen and (max-width: 430px) {

    /* menu */
    .menu {
        display: block;
    }

    .menu a {
        display: none;
    }

    .menu a:hover {
        background-color: #5ED8FF;
    }

    .menu .icon {
        display: flex;
        float: left;
        width: 60px;
        height: 60px;
    }

    .icon-menu{
        margin-top: 10px;
        margin-left: 10px;
    }

    /* set image */
    .image {
        background-color: rgb(136, 136, 136);
        width: 400px;
    }

    /* section */
    .events-box {
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }
}

@media screen and (max-width: 430px) {

    .header.responsive {
        height: 180px;
    }

    .menu.responsive{
        position: relative;
    }

    .menu.responsive .icon {
        background-color: #5ED8FF;
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive .active{
        background-color: #1cc1fd;
        color: white;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #5ED8FF;
    }

    .menu.responsive a:hover {
        background-color: #ffffff;
        color: black;
    }
}